body {
  text-align: center;
}

#upload-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center ;
}

.submit-reset {
  margin-top: .5rem;
}

#logger {
  margin-block: 1rem;
}

.receipt {
  border: 1px solid #ccc;
  margin-top: 1rem;
  padding: 1rem;
}

.receipt-table {
  width: 100%;
}

.receipt-table .line-item {
  text-align: left;
}

.receipt-table .price {
  text-align: right;
}

.receipt-table .selected {
  text-align: left;
}

#receipt-footer {
  text-align: right;
}

.footer-links {
  justify-content: center;
}