body {
  text-align: center;
}

.receipt {
  border: 1px solid #ccc;
  margin-top: 2rem;
  padding: 1rem;
}

.receipt-table {
  width: 100%;
}

.receipt-table .line-item {
  text-align: left;
}

.receipt-table .price {
  text-align: right;
}

.receipt-table .selected {
  text-align: right;
}

#receipt-footer {
  text-align: right;
}
