body {
  margin: 1rem;
  text-align: center;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form label {
  font-weight: bold;
}

.receipt {
  border: 1px solid #ccc;
  margin-top: 2rem;
  padding: 1rem;
}

.receipt-table {
  width: 100%;
}

.receipt-table .line-item {
  text-align: left;
}

.receipt-table .price {
  text-align: right;
}

.receipt-table .selected {
  text-align: right;
}

#receipt-footer {
  text-align: right;
}

.footer {
  color: #666;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links > * {
  padding-inline: .5rem;
}

.footer-links > *:not(:last-child) {
  border-right: 1px solid #ccc;
}

.footer-links a {
  color: #66f;
}
